/* don't need to define the layers for tailwind v4 */

:root {
    --default-font: "Inter", sans-serif;
    --weight-extralight: 200;
    --style-italic: italic;
    /* for the general font basics across the site */

    --home-size: 3rem;
    --link-size: 2rem;
    /* the default home font size */ 
}

.dark{
        
}

