/* don't need to define the layers for tailwind v4 */

:root {
    --default-font: "Inter", sans-serif;
    --weight-extralight: 200;
    --style-italic: italic;
    --text-color: black;
    /* for the general font basics across the site */

    --home-size: 2.8rem;
    --link-size: 2rem;
    --highlight: rgb(127, 177, 221);
    --select-color: rgb(0, 60, 113);
    /* the default font sizes for navbar */ 

    --background-color: white;

    --invert-img: invert(0);
    /* defining an invert image value that changes when darkmode is selected */

}

.dark{
    --background-color: black;
    --text-color: white;
    --invert-img: invert(1);
}

