/* idk if I still need this if I am using tailwind but here is the 
    index css that sets defaults for the whole project */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* selected font */

@import "tailwindcss";

@import "./styles/reset.css";
@import "./styles/tokens.css";


html {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}
/* defining what 1rem actually is */

body {
    font-family: var(--default-font);
    font-weight: var(--weight-extralight);
    font-style: var(--style-italic);

    /* this defines the defailt css for everything in the project */
    /* use body instead of html, defining visual stuff and not sizing heirarchy */
}
