/* idk if I still need this if I am using tailwind but here is the 
    index css that sets defaults for the whole project */

@import "tailwindcss";

@import "./styles/reset.css";
@import "./styles/tokens.css";


html {
    font-size: 16px;
    background-color: var(--background-color);
    color: var(--text-color);
}
/* defining what 1rem actually is */

body {
    font-family: var(--default-font);
    font-weight: var(--weight-extralight);
    font-style: var(--style-italic);

    /* this defines the defailt css for everything in the project */
    /* use body instead of html, defining visual stuff and not sizing heirarchy */
}
